<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Services
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Services</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-row *ngFor="let service of allServices">
        <ion-card class="services-card" >
            <ion-card-content >
                <ion-row>
                 <ion-col size="9" text-center> 
                   <h1><b>{{service.name}}</b></h1>
                 </ion-col> 
                 <ion-col size="3" text-right>
                   <h2 >Rs {{service.charges}}</h2>
                 </ion-col>
                </ion-row>
                <p>
                  {{service.description}}
                </p>
               <br>
             
                <ion-row >
                  <ion-col size="4">
                    <ion-button (click)="editService(service)" color="primary">
                      <ion-icon name='create-outline'></ion-icon>
                      Edit
                    </ion-button>
                  </ion-col>
                  <ion-col size="4" text-center>
                    <ion-button color="medium" >
                      <ion-icon name="eye-outline"></ion-icon>
                       View
                    </ion-button>
                  </ion-col>
                  <ion-col size="4" text-right>
                    <ion-button color="danger" (click)="deleteService(service.name)">
                      <ion-icon name='trash-outline'></ion-icon>
                      Delete
                    </ion-button>
                    
                  </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addService()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
